body
	background-color #303038
	color white
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-size 1.5em

#infos
	margin-top 10px
	margin-bottom 50px

	span
		color white !important
		margin-right 10px

	p
		display inline